<!DOCTYPE html>
<!--
     ETSSetera: Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
     SoftDev
     P00
 -->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>


  <h2>
    Hello, {{ username }}!
  </h2>

  <h3>
    ETSSetera: Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
  </h3>

  <body>
    Welcome to ETSSetera blogs!
  </body>
    <br><br>
  <form action="/" method = "POST">
    <label for="topic">Filter by Topic:</label>
    <!-- lets you choose topic -->
    <select name="topic" id="topic">
      <option value="empty"> </option>
      <option value="Teachers">Teachers</option>
      <option value="School Policies">School Policies</option>
      <option value="Rants">Rants</option>
      <option value="Food">Food</option>
      <option value="Senior Privileges">Senior Privileges and Senior "Privileges"</option>
      <option value="What (Not) to Do">What (Not) to Do</option>
      <option value="Navigating">Navigating the Building</option>
      <option value="Clubs">Clubs and Activities</option>
      <option value="Misc">Miscellaneous</option>
      <option value="Mine">See My Posts</option>
      <option value="All">See All Posts</option>
      </select>
      <input type="submit" value="See Posts">
      <br>
    </form>

    {% if topic== "empty" %}
      <p style="color:red">Please pick a topic</p>
    {% endif %}

    <ul>
    {% if topic == "Mine" %}
      {% for row in data %}
        {% if row[1] == username %}
          <a href="/view/{{row[0]}}"><b> {{row[2]}} </b></a> -- <u>{{row[4]}}</u>
          <br>
          {{row[3]}}
          <br>
          <i> Written by {{row[1]}} </i>
          <br><br>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if topic == "All"%}
      {% for row in data %}
        {% if row[4]!="empty" %}
          <a href="/view/{{row[0]}}"><b> {{row[2]}} </b></a> -- <u>{{row[4]}}</u>
          <br>
          {{row[3]}}
          <br>
          <i> Written by {{row[1]}} </i>
          <br><br>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% for row in data %}
      {% if topic == row[4] and topic!= "empty"%}
          <a href="/view/{{row[0]}}"><b> {{row[2]}} </b></a> -- <u>{{row[4]}}</u>
          <br>
          {{row[3]}}
          <br>
          <i> Written by {{row[1]}} </i>
          <br><br>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="{{ url_for('create') }}">Create Post</a>
  <br><br>
  <a href="{{ url_for('logout') }}">Log Out</a>

</html>
