<!DOCTYPE html>
<head>
  Dog story
</head>
<body>

  	Stupid dog! Your {{breed1}} is dragging you down the road, your heels scraping the concrete, trying not to fall. Moments later, you fall anyway, into an adjective puddle, getting noun all over you. Just then, seeing your dog, a bunch of other dogs decide they want a new best friend, so a insert dog breed, insert dog breed, and insert dog breed trample over you, leaving you to verb on the ground, covered in adjective dog prints and puddle stuff. You adverb stand up, verb ending in -ing towards your dog, but then you forget which one is yours, so you grab the first one you see. Your neighbor comes up to you and asks, “Why are you holding that adjective noun?” You reply, “I don’t know, I think it’s cute,” and verb away, not in any mood to take her judgy looks. Your neighbor stands there, looking like a(n) noun and adverb verb ending in -ing.
</body>
