{% extends "madlibtemplate.html" %}
{% block title %} FBI {% endblock %}
{% block content %}
<form class="" action="/FBI" method="post">
      Verb:
      <input type="text" id="1">
      <br>
      Noun:
      <input type="text" id="2">
      <br>
      Verb:
      <input type="text" id="3">
      <br>
      Noun:
      <input type="text" id="4">
      <br>
      Verb:
      <input type="text" id="5">
      <br>
      Noun:
      <input type="text" id="6">
      <br>
      Verb:
      <input type="text" id="7">
      <br>
      Noun:
      <input type="text" id="8">
      <br>
      Verb:
      <input type="text" id="9">
      <br>
      Noun:
      <input type="text" id="10">
      <br>
      Verb:
      <input type="text" id="11">
      <br>
      Noun:
      <input type="text" id="12">
      <br>
      <input type="submit">
</form>
{% endblock %}