<!DOCTYPE html>


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body style="font-family: Helvetica;">
    <h1 style="font-family: Copperplate; font-size: 45px; font-weight: normal;">
      Welcome to RADLIBZ
    </h1>
    Enter a username and password.
    <br>
    <br>
    <p style="color:red">{{syntaxerror}}</p>
    <form action="/signup">
      <p>Username: </p>
      <input type="text" name="username">
      <br>
      <p>Password: </p>
      <input type="password" name="password">
      <p>Confirm Password: </p>
      <input type="password" name="passauth">
      <p style="color: red">{{passerror}}</p>
      <input type="submit" name="sub1" value="Sign Up">
      <br>
      <br>
      <a href="/loggedin">Already Have an Account? Log in</a>
    </form>
    <br>
  </body>

</html>
