<!DOCTYPE html>

 <html>

   <head>
     <meta charset="UTF-8">
     <title>ETSSetera</title>


   </head>

   <h3>
     ETSSetera: Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
   </h3>

   <body>
      <h1>Your blog has been posted, {{ username }}!</h1>
   </body>
   <!-- you will see the most recent post first, which would be your post -->

    <body>
        <h2> {{ title }} </h2>
    </body>

    <body>
         {{ post }}
    </body>
    <br><br>
    <body>
    <i> Topic: {{ topic }}</i>
    </body>
   <br><br>
   <a href="/edit/{{id}}">Edit this post</a>
   <br><br>
   <a href="{{ url_for('create') }}">Create another post</a>
   <br><br>
   <a href="{{ url_for('loggedin') }}">Go back to homepage</a>
